<div id="footer">
	<p>@Html.ActionLink("Return Home", "Index", "Home")</p>
	<p>@Html.ActionLink("Show All Aliens", "Index", "Aliens")</p>
	<p>@Html.ActionLink("Show All Planets", "Index", "Planets")</p>
	<p>@Html.ActionLink("Show All Species", "Index", "Species")</p>
</div>